.div1
{
  margin-top: 10px;
  background-color: rgb(63, 51, 177);
  width: 260px;
  color: white;
  height: 455px;
  padding: 20px;
  display:inline-block;
  margin-left:5px;
  overflow: auto;
}
#div2
{  margin-top: 10px;
  background-color: rgb(63, 51, 177);
  width: 300px;
  color: white;
  height: 400px;
  padding: 20px;
  display:inline-block;
  margin-left: 5px;
}
#div3
{
  margin-top: 10px;
  background-color: rgb(63, 51, 177);
  width: 300px;
  color: white;
  height: 400px;
  padding: 20px;
  display:inline-block;
  margin-left: 5px;
}
#div4{
  margin-top: 10px;
  background-color: rgb(63, 51, 177);
  width: 240px;
  color: white;
  height:400px;
  padding: 20px;
  display:inline-block;
  margin-left: 5px;
  
}
.div2
{
  margin-top: 10px;
  background-color: rgb(63, 51, 177);
  width: 280px;
  color: white;
  height: 455px;
  padding: 20px;
  display:inline-block;
  margin-left:10px;
  overflow: auto;
}
.backBtn{
  margin-left: 10px;
  color:white;
  background-color: #3f51b5;
  border: none;
}
