<div>
  
  <mat-toolbar color="primary">
    <button class="backBtn">
      <mat-icon (click)="back()">arrow_back</mat-icon>
    </button>
    &nbsp;
    <h2>My Hospital</h2>
  </mat-toolbar>
  
</div>

  <!-- <div id="div_container"> -->

    <div class="div1">
      <h2>Patient Details</h2>
      <label>Patient ID : </label> <label>PAT-{{this.id}}</label><br><br>
          <label >First Name : </label><label >{{this.first_name}}</label><br><br>
          <label >Last Name: </label><label> {{this.last_name}}</label><br><br>
          <label>Contact : </label><label>{{this.mobile_number}}</label><br><br>
          <label >Gender : </label><label>{{this.gender}}</label><br><br>
          <label >Age : </label><label>{{this.age}}</label><br>

        </div>

    

        <div class="div1">
      <h2>Asssigned Doctor Details</h2>
      <label >Assigned Doctor : </label> <label>{{this.dFirstName}} {{this.dLastName}}</label><br><br>
      <label>Allocation Time : </label><label >{{this.dtime}}</label><br> <br>
      <label >Appointment Date : </label><label>{{this.ddate}}</label><br><br>
    </div>
    
    <div class="div1">
   <h2>Allocated Rooms Details</h2> 
  <label>Room Number : </label> <label  >{{this.roomNumber}}</label><br><br>
  <label>Booked Date : </label><label >{{this.roomDate}}</label><br><br>
  <label>Discharged Date : </label><label >{{this.dischargeDate}}</label><br><br>
</div>



<!-- <div class="div2">
  <h2>Prescription Details </h2>
  <div *ngFor="let prescription of prescriptionData">
  <label> Prescription Type :</label> <label style="margin-left: 30px;" >{{prescription.prescription_type}}</label><br>
  <label >Type : </label>  <label style="margin-left: 100px;" >{{prescription.types}}</label><br>
  <label> Schedule : </label> <label style="margin-left: 45px;" >{{prescription.schedule}}</label><br><br>
</div>
</div>
</div> -->

<div class="div2">
  <h2>Prescription Details </h2>
  <div *ngFor="let prescription of prescriptionData">

    <table >
      <td>
        <label>Type </label>
        <tr>
          <label>{{prescription.prescription_type}}</label>
        </tr>
      </td>
      <td>
        <label  style="margin-left: 30px;">Name  </label>  
        <tr>
          <label style="margin-left: 30px;" >{{prescription.types}}</label>

        </tr>
      </td>
      <td>
        <label  style="margin-left: 20px;"> Time  </label>
        <tr>
          <label style="margin-left: 20px;">{{prescription.schedule}}</label>
          <br><br>
        </tr>
      </td>
    </table>
  </div> 








