
#customers{
    font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse; 
  width: 100%;
  border-color: black;
}

#customers td, #customers th {
     
     padding: 8px;
     text-align: center;
     
  }
  
  #customers tr:nth-child(even){background-color: #fcfcfc;}
  
  #customers tr:hover {background-color: rgb(210, 218, 231);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #eef4f7f5;
    color: black;
  }
  .roomTable{
    margin-top: 30px;
  }

  ::ng-deep .blue-snackbar {
    background: #06c254;
    font-weight: bold  !important;
  
}

