<mat-toolbar color="primary">
  <button class="backBtn"> <mat-icon (click)="back()">arrow_back</mat-icon></button>
  &nbsp;
  
  <h2>My Hospital</h2>
</mat-toolbar>

<div class="roomA">
  <mat-toolbar color="primary">
    <h2>Room Allotment</h2>
  </mat-toolbar><br><br>
  
  <div class="roomB">
<label class="lbl">Room No : {{this.roomNo}}</label><br><br>
<label class="lbl">Patient Name : {{this.first_name}} {{this.last_name}}</label><br><br>
<label class="lbl">Admission Date :  </label>
  <!-- <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Pick a date" (dateChange)="dateChange($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker ></mat-datepicker><br><br> -->
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>
<!-- 
<input type="date" [(ngModel)]='this.roomAllotement.bookedDate'>&nbsp;&nbsp;&nbsp; -->
<!-- <label>Discharge Date</label>&nbsp;
<input type="date" [(ngModel)]='this.roomAllotement.dischargeDate'><br><br><br><br> -->
<button class="mat-raised-button mat-primary" (click)="addRoomAllotement()">Allocate</button>&nbsp;&nbsp;
<button class="mat-raised-button mat-white" (click)="cancel()">Cancel</button>

</div>
</div>
